body,html{
	height: 100%;
	background-color: #FFCC33;
}

h1,h2,h3,h4,h5,h6,p,body {
	line-height: 1.77;
	font-size: 30px;
	color: #4a4a4a;
	font-family: sans-serif;
	margin:  0;
	padding: 0;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


header {
	margin-bottom: 50px;
	height: 40px;
	min-width: 960px;
}

header h1 {
	text-align: center;
	line-height: 50px;
	font-size: 70px;
	font-color: black;
}

header hr {
	border-color: black;
	border-width:1px 0 0 0;
}

.contents_index {
	height:1142px;
}

.contents_answer {
	height:1300px;
}

.contents_archive {
	height:1617px;
}

.page {
	background-color: white;
	padding: 100px 125px 0px 115px;
	width: 800px;
	height: 80%;
	margin: 0 auto;
}

h2 {
	text-align: center;
	font-size: 50px;
	background-color: white;
	font-family: sans-serif;
	line-height: 0px;
}

.head_text {
	width: 100%;
	margin: 0 0 30px;
}

.head_text h2 p {
	text-align: center;
}

.image  {
	height: 0;
	padding-top: 45%;
	background: url("jiro.gif"); 0 0 no-repeat;
	background-size: 520px 390px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: 30px;

}

.result {
	text-align: center;
}

textarea {
	width: 600px;
	height: 250px;
}

.timeline {
	background-color:#3333FF;
	height: 830px;
	margin: 0 auto;
	border: 15px solid #000;
}

.post {
	margin:30px auto;
	width: 699px;
	height: 192px;
	border: 3px dashed #000;
	background-color: white;
}

.text p {
	font-size: 25px;
	font-family: sans-serif;
	text-align: center;
	background-color: #FFCC33;
	margin-top: 30px;
}

.text p.success {
	background-color: white;
	font-size: 20px;
}

.blank {
	width: 960px;
	height:50px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 70px;
}

.blank p {
	font-size: 50px;
    font-family: sans-serif;
}


.button li {
    list-style: none;
}

.menu li {
	font-size:30px;
	background-color: #FFCC33;
	border:5px solid #000;"
	font-family: sans-serif;
}

.button_archive {
	margin-top: 50px;
}

.archive {
	float: left;
}

.generator {
	float: right;
}

.regenerator {
	float: right;
}

.menu {
	text-align: center;
}

.regenerator_2 {
	display: inline;
}

.share {
	height: 150px;
	background-image: url("img_kanin_kora.png");
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.share_archive {
	height: 150px;
	background-image: url("img_kanin_kora.png");
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

a {
	text-decoration: none;
}

footer {
	bottom: 0;
	min-width: 960px;
	height: 120px;
}

footer hr {
	border-color: black;
	border-width:1px 0 0 0;
}

.top {
	text-align: center;

}